{% extends "base.html" %}

{% block content %}

  <div class="row"><div id="bar"></div></div>
  <div id="vis-tooltip" class="vg-tooltip"></div>

<script type="text/javascript">
  parse("/activity/chart", "bar")
</script>


{% endblock %}
