{% extends "base.html" %}

{% block content %}

  <div class="row"><div id="mark_bar"></div></div>
  <div id="vis-tooltip" class="vg-tooltip"></div>

<p>You searched for the term {{ term }} on Twitter .</p>


<script type="text/javascript">
  parse("/hashtags/chart", "mark_bar")
</script>

<form action="/timeline/download/{{ filename }}">
  <input type="submit" value="download csv" />
</form>

{% endblock %}
