{% extends "base.html" %}

{% block content %}

<h2>Timeline</h2>

The <i>timeline</i> functionality takes a search term and returns a time series of it's activity

<form action='/timeline' method="POST" enctype="multipart/form-data">

  Text to search for: <input type="text" name="term" value="tornado">

  <select name="reddit_or_twitter">
    <option value="reddit">Reddit</option>
    <option value="twitter">Twitter</option>
  </select>

  <select name="interval" value="Daily">
    <option value="hour">Hourly</option>
    <option selected="selected" value="day">Daily</option>
    <option value="week">Weekly</option>
    <option value="month">Monthly</option>
  </select>

  Since: must be YYYY-MM-DD (note: Reddit's earliest data is 2019-10-01)<input type="text" name="since" value="2019-01-01">
  Until: must be YYYY-MM-DD<input type="text" name="until" value="2019-11-01">

  Give me a changepoint<select name="changepoint" value="Yes">
    <option value="True">Yes</option>
    <option value="False">No</option>
  </select>
  <button type="submit">See timeline</button><br>
</form>

<h2>Related Hashtag Detector</h2>

The <i>hashtag</i> functionality takes a search term and creates a bar graph of related hashtags.

<form action='/hashtags' method="POST" enctype="multipart/form-data">

  Text to search for (do not use # symbol): <input type="text" name="term" value="tornado">
  Number of tweets to pull (use no more than 50000): <input type="number" name="limit" value=1000>
  Number of hashtags in graph: <input type="number" name="num_of_hashtags_graphed" value=15>

  <button type="submit">see hashtag graph</button><br>
</form>

<h2>Activity</h2>
This pushshift command is for generating aggregation data visualizations
to see which subreddits (or authors) are the most frequent given some other conditions.
<form action='/activity' method="POST" enctype="multipart/form-data">
  Get activity (dummy): <input type="text" name="fname"><br>
  <button type="submit">dummy button</button><br>
</form>

<h2>Describe</h2>

Here will go form and button for describe
<form action='/describe' method="POST" enctype="multipart/form-data">
  Get describe (dummy): <input type="text" name="fname"><br>
  <button type="submit">dummy button</button><br>
</form>

<h2>Wordcloud</h2>
The wordcloud generator can create wordclouds from a number of different sources including Reddit authors,
subreddits and terms themselves.

{% endblock %}
