{% extends "base.html" %}

{% block content %}

  <div class="row"><div id="line"></div></div>
  <div id="vis-tooltip" class="vg-tooltip"></div>

<p>You searched for the term {{ term }} at interval {{ interval }}.</p>
<p>These are the results from {{ reddit_or_twitter }}.</p>
<p>You've searched from {{ since }} till {{ until }}, with sane defaults if your input was incorrect.</p>
<script type="text/javascript">
  parse("/timeline/chart", "line")
</script>

{% if do_changepoint %}
<p>Your changepoint is {{ changepoint }}
{% endif %}
<form action="/timeline/download/{{ filename }}">
  <input type="submit" value="download csv" />
</form>

{% endblock %}
